/* App.css */
.App {
  display: flex;
}

.content {
  flex: 1;
  padding: 20px;
}

/* Navbar.css */
.navbar {
  width: 200px;
  background-color: #333;
  color: rgb(221, 143, 143);
  padding: 20px;
}

/* Add fixed size styles for each section */
/* About.css */
#about {
  min-height: 100px; /* Adjust the height as needed */
  color: rgb(124, 123, 124);
  font-weight: bold;
  /* background-color: #333; */
  padding-left: 10px;
  /* padding-top: 10px; */
  /* padding-bottom: 100px; */
}


/* Projects.css */
#projects {
  min-height: 400px; /* Adjust the height as needed */
  color: rgb(223, 136, 16);
  /* background-color: #333; */
  margin-bottom: 50px;



}

/* Contact.css */
#contact {
  min-height: 200px; /* Adjust the height as needed */
  color: rgb(217, 225, 225);
  /* background-color: #333; */
  margin-bottom: 50px;



}

.container {
  width: 600px; /* Increase the width as needed */
  height: 100%;
  display: block;
  align-items: left;
  justify-content: left;
  text-shadow: #333;
}


.reveal-container {
  position: relative;
  overflow: hidden;
  width: fit-content; /* Set the width to fit the content */
  height: 10px; /* Set the height as needed */
  background-color: transparent;
  display: inline-block; /* Display as inline block */
}



.revealed-text {
  position: relative; /* Change to relative position */
  background-color: transparent;
  color: rgb(191, 196, 191);
  font-size: 18px;
  display: inline-block; /* Display as inline block */
  overflow: hidden;
  z-index: 1;
}

/* Navbar.css */
.vertical-text {
  transform: rotate(-90deg);
  transform-origin: left top;
  white-space: nowrap;
  margin-top: 100px;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}






ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

a {
  color: white;
  text-decoration: none;
}

