/* MobileMenu.css */
.MenuList {
  display: none;
  background-color: black;
}

.MenuList.visible {
  display: block;
  
}

/* Styling for the menu links */
.MenuList ul {
  list-style: none;
  padding: 0;
  
}

.MenuList ul li {
  margin-bottom: 10px;

}

.MenuList ul li a {
  text-decoration: none;
  color: white; /* Text color */

  display: block;
  padding: 10px;
  background-color: black; /* Background color */
  transition: background-color 0.3s ease; /* Smooth background color transition */
}

/* Hover effect for the links */
.MenuList ul li a:hover {
  background-color: rgb(20, 202, 196); /* Change background color on hover */

}

